<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superior AI - Your Smart Assistant</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>
            
            <h2 class="text-center text-primary"> <img src="static/logo.png" alt="Superior AI - Your Smart AI Assistant" width="100" height="100"> Superior AI - Your Smart Assistant</h2>
            
            
        </h1>
    </div>
    
    <div class="container mt-5">
        
        <!-- Chat Container -->
        <div id="chat-container" class="chat-container border rounded p-3 mb-3">
            <div id="chat-box"></div>
        </div>

        <!-- Loading Indicator -->
        <div id="loading-spinner" class="text-center mb-3" style="display: none;">
            <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <select class="form-control" id="function-select">
                    <option value="answer">Answer as Chatbot</option>
                    <option value="kbanswer">Answer from Knowledgebase</option>
                    <option value="search">Search from Knowledgebase</option>
                </select>
            </div>
            <div class="col-md-7">
                <input type="text" id="message-input" class="form-control" placeholder="Type your message here...">
            </div>
            <div class="col-md-2 text-right">
                <button id="send-btn" class="btn btn-primary">Send</button>
                <button id="clear-btn" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </div>

    <script src="static/main.js"></script>
</body>
</html>
